.container {
  direction: rtl;
  background-color: #1a1a4a; /* برای همخوانی با رنگ تصویر آپلود شده */
  color: #ffffff;
  padding: 20px;
  max-width: 1400px; /* افزایش حداکثر عرض برای فرم */
  margin: 0 auto; /* مرکز کردن فرم */
}

.form {
  max-width: 100%;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.input, .textarea, .select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.datepicker {
  height: 50px;
  border-radius: 5px;
  background: white;
  .rmdp-container {
    background-color: white;
  }
  .rmdp-input {
    // background-color: white;
    padding-top: 15px;
    border: none;
  }
  .rmdp-container div {
    background-color: white;
  }
}



.textarea {
  height: 400px; /* تنظیم ارتفاع باکس متن خبر */
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button.cancel {
  background-color: #ff4d4d;
  color: white;
}

.button.submit {
  background-color: #4caf50;
  color: white;
}

.button.upload {
  background-color: #2196f3;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; /* حذف فاصله بین ستون‌ها */
}

.col, .col-8, .col-4, .col-xl-3 {
  padding: 10px; /* فاصله داخلی ستون‌ها */
  flex: 1;
}

.col-8 {
  flex: 8;
}

.col-4 {
  flex: 4;
}

.col-xl-3 {
  flex: 2; /* کاهش عرض برای مطابقت بیشتر با سایر ستون‌ها */
}
