.categories{
    background-color: #10163A;
    height: 100vh;
    width: 100%;
    h1,h2{
        padding-top: 30px 200px 100px 15px;
        color: aliceblue;
        font-size: larger;
    }

    .category{
        background-color: aqua;
    }

}