.sidebar {
    background: #10163A;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
  .active{
    background-color: #d3a0d8;
  }
.top_section {
        display: flex;
        align-items: center;
        padding: 20px 15px;
    }
    
    .logo {
        font-size: 30px;
    }
    
    .bars {
        display: flex;
        font-size: 25px;
        margin-left: 50px;
    }
    
    .link {
        display: flex;
        color: #fff;
        padding: 10px 15px;
        gap: 15px;
        transition: all 0.5s;
        text-decoration: none;
        ;
    }
    
    .link:hover {
        background: rgb(228, 202, 228);
        color: #000;
        transition: all 0.5s;
    }
    

    .icon,
    .link_text {
        font-size: 16px;
        font-family: shabnam;
    }
    
    .text-center {
        font-size: 16px;
    }
    
    #gridContainer {
        height: 436px;
    }
    
    #data-grid-demo {
        min-height: 700px;
    }
    .options {
        margin-top: 20px;
        padding: 20px;
        background: #f5f5f5;
    }
   
