@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/shabnam/Shabnam-Bold-FD.woff') format('woff');
}

@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/shabnam/Shabnam-Light-FD.woff') format('woff');
}

@font-face {
    font-family: 'Sahel';
    src: url('/fonts/sahel/Sahel-FD.woff') format('woff');
}

@font-face {
    font-family: 'Gandom';
    src: url('/fonts/gandom/Gandom-FD.woff') format('woff');
}

@font-face {
    font-family: 'Nahid';
    src: url('/fonts/nahid/Nahid-FD.woff') format('woff');
}

@import './Scss/Main.scss';
@import './Scss/Header.scss';
@import './Scss/Users.scss';
@import './Scss/Slidebar.scss';
@import './Scss/Categories.scss';
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    direction: rtl;
    font-size: 16px;
    font-family: shabnam;
}

.container-fluid {
    display: flex;
    background-color: #272C4A;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: shabnam;
    font-size: 14px;
}

main {
    width: 100%;
    padding: 20px;
}

// 
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #0f1114;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}