@font-face {
    font-family: shabnam;
    font-style: normal;
    src: url("../public/fonts/shabnam/Shabnam-Light-FD.woff") format("woff");
  }
  
  @font-face {
    font-family: gandom;
    font-style: normal;
    src: url("../public/fonts/gandom/Gandom-FD.woff") format("woff");
  }
  
  @font-face {
    font-family: nahid;
    font-style: normal;
    src: url("../public/fonts/nahid/Nahid-FD.woff") format("woff");
  }
  
  @font-face {
    font-family: sahel;
    font-style: normal;
    src: url("../public/fonts/sahel/Sahel-FD.woff") format("woff");
  }
  
  @font-face {
    font-family: shabnam-bold;
    font-style: normal;
    src: url("../public/fonts/shabnam/Shabnam-Bold-FD.woff") format("woff");
  }
  @import './Components/Main/Main.scss';
  @import './Components/Header/Header.scss';
  @import './Pages/Users/Users.scss';
  @import './Pages/Slidebar.scss';
  @import './Pages/Categories/Categories.scss';
  
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    direction: rtl;
    font-size: 16px;
    font-family: shabnam;
  }
  .container-fluid {
    display: flex;
    background-color: #272C4A;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: shabnam;
    font-size: 14px;
}

main {
    width: 100%;
    padding: 20px;
}
  // 
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #0f1114;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  
  

 