.users{
    background-color: #10163A;
    h3{
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    h4{
        font-size: 15px;
    }
    .email{
        font-family: 'Times New Roman', Times, serif;
        color: rgb(171, 245, 149);
        padding-left: 20px;
    }
}
.container-fluid {
    display: flex;
}
 table{
    border: 2px solid #858181;

}

th, td {
    // border: 1px solid rgb(235, 215, 215);
    border-bottom: 1px solid #75c922;

    // border-radius: 10px;
  }
  thead{
    border: 2px solid #858181;

  }
  th, td,tr {
    
    border-bottom:  #80d42c;
    justify-content: center;
    align-items: center;
  }
.user-form-container{
    background-color: #1b0e3b;
}
.even-row {
    // background-color: #4b2e83; /* بنفش روشن‌تر */
    border-bottom: 1px solid #504f4f; /* خط حاشیه خاکستری */

    color: #ffffff; /* متن سفید برای خوانایی بهتر */

  }
  
  .odd-row:hover,.even-row:hover {
    // background-color: #e4a101; /* زرد-نارنجی */
    color: #c52222; /* متن سیاه برای خوانایی بهتر */
    background-color: rgb(120, 197, 207);
  }
  .odd-row {
    // background-color: #e4a101; /* زرد-نارنجی */
    color: #ffffff; /* متن سیاه برای خوانایی بهتر */
    border-bottom: 1px solid #504f4f; /* خط حاشیه خاکستری */

  }
  

  .users-table {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-bottom: 20px;
  }